[2014-08-18 01:07] jewzaam opened #1 "Metadata APIs should check roles, and deletion should require additional roles"
<a href="https://github.com/bserdar"><img src="https://avatars.githubusercontent.com/u/3670797?v=2" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bserdar](https://github.com/bserdar)**
_Tuesday Jun 10, 2014 at 15:44 GMT_
_Originally opened as https://github.com/lightblue-platform/lightblue-core/issues/21_

---

We probably shouldn't allow metadata admins to delete entities

[2014-08-18 01:07] jewzaam opened #2 "Add LZF support"
<a href="https://github.com/jewzaam"><img src="https://avatars.githubusercontent.com/u/480388?v=2" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [jewzaam](https://github.com/jewzaam)**
_Wednesday Jul 09, 2014 at 15:09 GMT_
_Originally opened as https://github.com/lightblue-platform/lightblue-core/issues/54_

----

[2014-08-18 01:07] jewzaam opened #3 "New endpoint for more details of running instance"
<a href="https://github.com/luan-cestari"><img src="https://avatars.githubusercontent.com/u/1569137?v=2" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [luan-cestari](https://github.com/luan-cestari)**
_Monday Jul 28, 2014 at 14:43 GMT_
_Originally opened as https://github.com/lightblue-platform/lightblue-core/issues/85_

---

I was thinking if you guys agree to put some inf

[2014-09-12 14:54] derek63 opened #9 "Break auth module out"
This login module is something generic that could be reused somewhere else. Would be nice to have it live on its own.

This issue was orginally created in lightblue-applications (https://github.com/lightblue-platform/lightblue-applications/issues/18)

[2014-09-12 14:56] derek63 opened #10 "Use hystrix command for LDAP interaction"
So that we capture metrics for that communication and have control of the failure. The failover capability would be useful to default to a cached (or last fetched) result when LDAP is offline.

This issue was orginally created in lightblue-applications (https://github.com/lightblue-platform/lightblue-applications/issues/19)

[2014-09-17 19:21] derek63 opened #12 "data and metadata services display incorrect errorCode when datastore timeout occurs"
Right now when the services timeout when trying to connect to the backend datastore, they return the following error messages

{
    "objectType": "error",
    "context": "GetEntityNamesCommand/getEntityNames",
    "errorCode": "metadata:IllFormedMetadata",
    "msg": "Timed out while waiting to connect after 10000 ms"
}

{
    "status": "ERROR",
    "modifiedCount": 0,
    "matchCount": 0,
    "e

[2014-09-17 20:42] derek63 opened #13 "data and metadata services display incorrect errorCode when failing to authenticate against the datastore"
Right now when the services can't connect to mongo because the credentials don't exist, they return the following error messages

{
    "objectType": "error",
    "context": "GetEntityNamesCommand/getEntityNames",
    "errorCode": "metadata:IllFormedMetadata",
    "msg": "{ \"serverUsed\" : \"supersecretmongonode.nottherealhost.com:27017\" , \"ok\" : 0.0 , \"errmsg\" : \"auth failed\" , \"code\" :

[2014-09-24 17:30] jewzaam opened #15 "Bundle lightblue-audit-hook"
This is really a core feature.  While audit hook is implemented it is not currently bundled in the rest application artifacts and therefore cannot be used.

[2014-09-26 16:29] jewzaam opened #16 "Do system property replacement after loading datasources.json"
For deployment to something like openshift it's difficult to manage injecting data such as mongo host, port, user, and password into `datasources.json`.  It would be great if system properties were replaced after loading this file in `RestConfiguration`.  This would simplify openshift-lightblue-all by not requiring any monkeying around with custom env variables AND would make it possible to use th

[2014-09-29 14:16] jewzaam opened #17 "Update login module (auth) to cache authz"
- [ ] Update to cache a small set of authorizations from LDAP
- [ ] Update hystrix command to use cache if request to LDAP fails
- [ ] Update login module to use cache in some cases (assumes we want to not hit LDAP for every single request but can trust cached data for a period of time)

[2014-10-01 17:55] #16 closed, assigned to jewzaam

[2014-10-21 20:22] jewzaam opened #19 "Cleanup example module"
- [ ] rename etc/mongo to something that matches real jboss eap module
- [x] add documentation on how to deploy this manually for non-puppetized deployments

[2014-10-29 16:15] alechenninger opened #20 "REST path for insert inconsistent with other methods"
Save, update, delete, and find, all use the following scheme:

`{HTTP method} /data/{save|update|delete|find}/{entityName}/{version}`

However, insert does not:

`PUT /data/{entityName}/{version}`

This is a little surprising, and even the documentation makes the mistake of mixing it up in the examples.

To me I see three options:
- Do nothing (except update documentation)
- Change the insert path

[2014-11-01 15:39] jewzaam opened #21 "Extend config subsystem to configure extensions"
There are a core set of extensions that always get loaded, but it would be nice to have a way to load custom extensions.  Similar work was done for hook parsers by just having an array of classes to load at startup.

[2014-11-07 15:10] dcrissman opened #26 "Wrong http error status code"
Should not this return a 404 Not Found error code?

curl -v ${BASE_REST_URL}/data/find/fake
* About to connect() to lightblue-denniscrissman.rhcloud.com port 80 (#0)
*   Trying 50.16.176.239...
* Connected to lightblue-denniscrissman.rhcloud.com (50.16.176.239) port 80 (#0)

< HTTP/1.1 200 OK
< Date: Fri, 07 Nov 2014 15:09:02 GMT
< Server: Apache-Coyote/1.1
< Content-Type: application/json
< Conte

[2014-11-10 16:36] jewzaam opened #27 "Fix travis-ci shrinkwrap issue"
Pull requests cannot build successfully on travis-ci.org and the impact is that we have to merge PR's before we know 100% that it will be a clean build.  This is annoying to say the least.  So far this hasn't resulted in a build failure for master, but it's just a matter of time.

See this for an example: https://travis-ci.org/lightblue-platform/lightblue-rest/jobs/39863929

The result:
[code]

[2014-11-10 17:22] alechenninger opened #28 "Allow login module to accept requests "acting as" another user than requester"
For the data management application, it is desirable that users be able to construct an arbitrary JSON request to query Lightblue. However, this requires the application to essentially recreate Lightblue's authorization logic in order to prevent user's from writing queries they aren't allowed to perform. The alternative is adding support to the login module in Lightblue for requests to be performe

[2014-11-11 18:07] #20 closed, assigned to nobody

[2014-11-11 18:52] #1 closed, assigned to luan-cestari

[2014-11-11 19:13] luan-cestari opened #32 "Change the the metadata interface like the crud"
On the https://github.com/lightblue-platform/lightblue-rest/issues/20 there was some changes to make all the rest methods to follow the pattern, I would like to know you guys agree to use the same pattern on the metadata interface (so it would be more intuitive to work with both data and metadata resources) (the class to change: https://github.com/lightblue-platform/lightblue-rest/blob/1ce33f966e7

[2014-11-11 19:56] #10 closed, assigned to jewzaam

[2014-11-11 19:57] #15 closed, assigned to jewzaam

[2014-11-11 20:51] jewzaam opened #33 "Bundle lightblue-rdbms"
It's not part of the crud rest war's right now.

[2014-11-19 14:11] luan-cestari opened #36 "Update the PR #7"
The PR https://github.com/lightblue-platform/lightblue-rest/pull/7 got outdated as it wasn't merged. I tried to updated it yesterday but just merging the newest things wasn't enough to build. I think to open this issue so when we decide to merge the PR we could updated it with the latest version. Also it would be necessary to review any other peeding PR

[2014-11-19 14:13] luan-cestari opened #37 "Expose some internal configurations as rest service"
For example, the backend /database used, we should inform  the name and maybe the description so the user that will create the metadata don't have to guess the internal name of MongoDB driver. Some more details on http://dev.forum.lightblue.io/Lightblue-expose-the-configurations-using-rest-td219.html

[2014-11-19 14:26] luan-cestari opened #38 "Rest interface not accepting some special characters"
For example:
curl "https://lightbluemetadata/rest/metadata/entity{shouldwork}" --insecure --cert /opt/client.pem -vv --globoff

Returns:
< HTTP/1.1 400 Bad Request
< Connection: close
<
<html><head><title>JBoss Web/7.2.0.Final-redhat-1 - JBWEB000064: Error report</title><style></style> </head><body><h1>JBWEB000065: HTTP Status 400 - </h1><HR size="1" noshade="noshade"><p><b>JBWEB000309: type</b> J

[2014-11-21 21:06] #38 closed, assigned to nobody

[2014-12-10 16:21] #3 closed, assigned to nobody

[2014-12-10 18:04] derek63 opened #41 "Rename all artifacts to be prefixed with lightblue-rest"
Like was done in lightblue-client https://github.com/lightblue-platform/lightblue-client/pull/34

[2014-12-10 22:23] jewzaam opened #42 "Revert projection of objectType in unit tests"
lightblue-platform/lightblue-mongo#36 now forces projection of `objectType` and therefore https://github.com/lightblue-platform/lightblue-rest/commit/1fea5d05d51f246f76169ee96d98c8e7e2c08fb5 can be reverted and should work.  Will need to wait for travis to build this.

[2014-12-11 14:55] jewzaam opened #44 "Make deployable on tomcat"
For the crud and metadata services (no authn/z) it would be nice to have other containers to deploy into.  I think a good target is tomcat.

[2014-12-16 22:32] jewzaam opened #54 "Move EmbeddedMongo to somewhere else"
It needs to live somewhere else.  Maybe in core/test.  And ALL the places we use flapdoodle should be updated to use it (assuming this issue is acceptable).  Right now we have this logic re-implemented all over the place..

[2014-12-17 16:07] jewzaam opened #57 "Reminder: update rpm promotion internally to create a cart to go from dev to qa"

[2014-12-17 18:12] #42 closed, assigned to jewzaam

[2014-12-17 18:13] #19 closed, assigned to jewzaam

[2014-12-19 17:37] jewzaam opened #58 "Hystrix command metrics not getting published"
@derek63 and I found this morning that if a hystrix command instance is created before the servo hystrix metrics publisher is registered the default publisher is configured and subsequent attempts to register a new one cause failure.

Possible fixes:
1. put the initialization in a static block in the abstract class, instead of the concrete implementation
2. put the initialization in the constructo

[2014-12-19 20:25] #58 closed, assigned to jewzaam

[2014-12-23 17:29] #36 closed, assigned to luan-cestari

[2015-01-05 15:10] jewzaam commented on #32
Closing.

[2015-01-05 15:10] #32 closed

[2015-01-05 18:04] luan-cestari commented on #33
Done https://github.com/lightblue-platform/lightblue-rest/blob/e03e55d77eb8b2d0d8c20ae161ca8598ce4a80cd/crud/pom.xml#L64

[2015-01-05 18:04] #33 closed

[2015-01-07 19:18] alechenninger commented on #28
Need to resolve this soon. To be clear, the use case is a applications that are front ends for the services. Users can construct any arbitrary query (even raw json) and send it up to the application. If the _application_ took care of authorization, the application would have to recreate all of lightblue's permission logic: get roles for the user, understand the capabilities of those roles, examine

[2015-01-07 19:26] jewzaam commented on #28
CORS is fine, but the problem with "some other authentication scheme" is there's a bug with the version of JBoss EAP we can use.  I'm trying to find the reference to that, got it somewhere....

[2015-01-07 19:28] bserdar commented on #28
How about something like this:
  - Add a flag to caller's cert, saying the caller can mimic others
  - If that flag is set, login module would accept another user, and
retrieve roles for that user, not the caller

On Wed, Jan 7, 2015 at 12:18 PM, Alec Henninger <notifications@github.com>
wrote:

[2015-01-07 19:30] bserdar commented on #28
Ignore that. A separate role that allows mimicking others is better.

On Wed, Jan 7, 2015 at 12:28 PM, Burak Serdar <bserdar@ieee.org> wrote:

[2015-01-07 19:34] jewzaam commented on #28
@derek63 do you happen to have a reference to the JIRA about the EAP (or picketlink) login module issue we found that meant we couldn't support both SAML and client certs?

[2015-01-07 19:35] jewzaam commented on #28
@alechenninger do you have time to investigate CORS for this to just have the client's browser pass the saml assertion directly?  Would mean no changes to how AuthN is done for the service.

[2015-01-07 19:37] alechenninger commented on #28
Yep I will look into it. I think this would be a great way for future single page web apps that use Lightblue to behave in general.

[2015-01-07 21:38] derek63 commented on #28
@jewzaam It actually wasn't a bug in EAP that prevents Picketlink-based SAML and client certs from working together, but how they are both implemented.  The Picketlink SAML solution intercepts requests using a JBoss valve, and the cert based auth is a login module.  Valves always fire before login modules, so while we are able to enable SAML on the services, it causes cert based auth to stop worki

[2015-01-07 21:41] derek63 commented on #28
We had previously discussed writing a custom proxy-like JBoss valve that would look for the presence of a certificate in the request and bypass the Picketlink SAML valve if it was found (or forward to the Picketlink SAML valve it was found).  Not sure of the level of effort there, but it may be less than writing an impersonation implementation

[2015-01-07 21:45] derek63 commented on #28
In order for the "some other authentication scheme" option to work without customization, we would need to pick something that can be defined in a login module, then we can (easily, with configuration) pick the order in which authentication schemes are tried.  Not sure if OAuth can be defined this way, but am pretty sure SAML cannot be (hence the use of the Picketlink valve).

[2015-01-08 21:35] #26 closed

[2015-01-08 21:36] jewzaam opened #64 "Add unit tests to verify HTTP codes in responses"
With https://github.com/lightblue-platform/lightblue-rest/pull/62 the returned object was changed to a Response so an HTTP code could be included, rather than everything being a 200.  This isn't tested.  Unit tests were updated to not break but no new tests were added.

[2015-01-09 22:16] derek63 commented on #33
RDBMS also needs to be included in metadata rest wars, so we can save RDBMS metadata.  Added this in https://github.com/lightblue-platform/lightblue-rest/pull/65

[2015-01-13 19:55] jewzaam opened #67 "getEntityNames fails if no roles come in on request"
If metadata roles are configured but the request doesn't include any roles it fails with a `NullPointerException` trying to loop over the null `roles` field.  This is true for version `1.2.0`.  Looking at the latest `1.3.0-SNAPSHOT` code it has been changed but looks like it would still be a problem, the field `roles` is never checked.

https://github.com/lightblue-platform/lightblue-rest/blob/6bc

[2015-01-14 22:37] alechenninger commented on #28
@jewzaam @derek63 Did some research. Let me try to summarize:

The issue with this is the assertion is kept server side; all that is communicated to the client are Java session cookies; one for IdP and one for each SP. Inside the sessions are the assertions. So AJAX calls have no access to this. This is the "Web SSO profile" of SAML2.0 and is cookie and browser redirect based. Other issue with Web

[2015-01-15 21:11] alechenninger opened #68 "Add "is role allowed to do X" or "get roles allowed to do X" APIs?"
(or add as information to "explain" type API, which I can't seem to find an issue for)

As an alternative to #28 , if an application could "hook into" lightblue's authorization logic, it could then make decisions based on what lightblue thinks about a particular role(s).

For example, user constructs CRUD request, sends to app, app asks what roles can do this request, lightblue responds with roles

[2015-01-15 21:23] alechenninger commented on #28
After discussing with @jewzaam , it seems like the best path forward might be to eventually support OAuth and also eventually support integrating SAML with OAuth, as described in my previous comment. In the interim, the data management application will move toward making AJAX calls to a lightblue host directly, and, like lightblue itself, will only work with either cert based auth (meaning each us

[2015-01-15 21:23] #28 closed

[2015-01-15 21:26] alechenninger commented on #68
As per [this comment on #28](https://github.com/lightblue-platform/lightblue-rest/issues/28#issuecomment-70164386), I would no longer consume this feature in the data management app, however I am leaving this issue open in case anyone else thinks this might be a useful feature.

[2015-01-16 13:52] jewzaam opened #71 "Disable hystrix metrics publishing for login module"
We are having issues with hystrix metrics published to graphite having a prefix that is just crazy.  For example, if we have lightblue.whatever as a root prefix, we'll see metrics published with blue.whatever, tblue.whatever, and so forth at the root level AND at various lower levels.  It's nuts!

So, we're trying things.  This is one of the last ditch things to try.  The though is to keep removin

[2015-01-16 13:55] jewzaam commented on #71
dhaynes> nmalik: Okay…to be clear though, we only have one war being deployed, the login module code is bundled with the rest app

[2015-01-16 14:51] jewzaam commented on #71
This should be closed with https://github.com/lightblue-platform/lightblue-rest/pull/72 ?

[2015-01-16 20:16] derek63 commented on #71
Forgot the "fixes" comment in https://github.com/lightblue-platform/lightblue-rest/pull/72.  Closing now

[2015-01-16 20:16] #71 closed

[2015-01-19 14:47] alechenninger opened #75 "Enable cross-origin resource sharing (CORS)"
It doesn't appear there is a straightforward way to do this with JBoss, but it is pretty easy to make a generic servlet filter that checks for and adds the appropriate headers. I'll try opening a PR for this.

[2015-01-19 15:08] alechenninger commented on #75
@jewzaam Would you be open to adding a dependency for this? It is easy enough to get basic functionality, but to thoroughly follow the spec it might make sense to use a filter that already does this.

I have found three open source projects that have the CORS spec already implemented as filters:
- A very specific cors-filter project from eBay: https://github.com/ebay/cors-filter
- Jetty: https://g

[2015-01-19 15:09] jewzaam commented on #37
I'll split into individual bits and keep publishing the version as part of Ana

[2015-01-19 15:11] alechenninger commented on #75
For some background on JBoss support: https://access.redhat.com/solutions/344163

[2015-01-19 15:17] alechenninger commented on #75
There is a Red Hat project that can add CORS support (among other things.... SAML!?) with EAP 6.x (and beyond) rest services... something that might be worth looking at? http://keycloak.jboss.org/

[2015-01-19 15:34] jewzaam commented on #75
I've used the ebay/cors-filter for other POC work.  It works fine.
For keycloak, we've discussed it a bit here: http://dev.forum.lightblue.io/Keycloak-td139.html

[2015-01-19 15:52] jewzaam commented on #27
Fixed with #73

[2015-01-19 15:52] #27 closed

[2015-01-20 16:43] #41 closed

[2015-01-20 19:26] jewzaam opened #77 "Expose version as rest service"
Add /version API to expose the current version.  Full URL's would be:

[code]

[2015-01-20 19:27] jewzaam opened #78 "Expose basic datastore info as REST API"
To make it easier for metadata definition, add ability to request the backend datastores that are configured for lightblue metadata to use.  Likely this would be a new endpoint on the metadata service, probably `/rest/metadata/datastores`.

[2015-01-20 20:07] jewzaam opened #79 "Add commit hash for build as rest service"
Related to exposing version, this goes further by providing the commit from which the application was built.  This is probably most useful if all the dependencies are also given.  When a commit cannot be provided it could include hashes from maven central instead:

`GET /rest/metadata/buildInfo`
[code]

[2015-01-20 20:07] jewzaam commented on #37
version: https://github.com/lightblue-platform/lightblue-rest/issues/77
datastore: https://github.com/lightblue-platform/lightblue-rest/issues/78
commit / hash: https://github.com/lightblue-platform/lightblue-rest/issues/79

[2015-01-20 20:08] jewzaam commented on #37
Closing this in favor of the three issues noted earlier.

[2015-01-20 20:08] #37 closed

[2015-01-20 20:09] jewzaam commented on #77
Updating initial comment to remove the bits about the applications.  There is a separate issue to add that in a footer: https://github.com/lightblue-platform/lightblue-applications/issues/23

[2015-01-20 20:10] jewzaam commented on #79
Should first see if there are any projects / plugins that can do this for us already.

[2015-01-25 17:54] vritant commented on #67
@jewzaam  does the NPE occur within the isUserInRole method invocation ?  asking cause if the If the roleMap element is defined, it is expected to have all the roles mapped

[2015-01-26 13:51] jewzaam commented on #67
@vritant this commit reproduces the issue if I remember correctly: https://github.com/jewzaam/openshift-lightblue-cart/commit/9d8c31c75cb24f11042dd5384629391a901996e5

[2015-01-27 15:55] vritant commented on #67
just a status update :
was able to re-produce this:

curl http://vrlblue-vritant.rhcloud.com/rest/metadata

 will investigate further.

[2015-01-27 23:00] alechenninger commented on #75
How would it be best to do this? Different consumers will want different options (like allowed origins, methods, etc.), or perhaps won't want to allow it at all. So it seems like this ought to be configurable, and in that case I'd like to discuss with you guys how best to open up configuration for that.

My first thought after some investigation into your existing configuration patterns would be t

[2015-01-28 13:59] jewzaam commented on #75
Not sure how it would be implemented but the requirement is enable configuration via puppet.  If possible it would be nice to add the config to an existing file.  Maybe `lightblue-metadata.json` and `lightblue-crud.json` so we can tune access for each component independently.

[2015-01-30 23:52] luan-cestari opened #85 "Regression & integration tests for rdbms"
This issues aims to hold many different suggestion about tests to be made for RDBMS module  seeks to uncover new bugs and check the functionalities using black box test model. Post comments with suggestion for tests. Also, each PR made for this issue will target an specific test (or small set of tests) to not make a huge PR with many different changes all together.

[2015-02-02 15:41] dcrissman commented on #85
I am not sure if this is what you mean, but for LDAP I am standing in-memory instances of LDAP, Mongo, and Lightblue, then essentially running integration tests against it. You could essentially do the same using something like HSQLDB or Derby.

See: lightblue-ldap-integration-test module
 * ITCaseLdapCRUDControllerTest
 * AbstractCRUDController - Could potentially promote to core library for shar

[2015-02-03 01:23] vritant commented on #67
@jewzaam  This is no longer an issue for v: 1.3.0-SNAPSHOT

deployed the latest jar to my open shift gear, and found that the issue no longer occurs. The call :
curl http://vrlblue-vritant.rhcloud.com/rest/metadata
now fails with the message :
  java.lang.SecurityException: Unauthorized Request. One of the following roles is required: [<ROLE NAME>]

[2015-02-03 01:24] vritant commented on #67
( the error also lists the role name required )

[2015-02-03 03:17] jewzaam commented on #67
@vritant you are testing with something that doesn't deploy `roleMap` attribute in `lightblue-metadata.json`.  I just reproduced this with:

[code]

And got
[code]

[2015-02-03 04:15] vritant commented on #67
@jewzaam the I think commit 9d8c31c75cb24f11042dd5384629391a901996e5 uses version 1.2 . Please let me know if that is not so.
I deployed lightblue-rest-metadata-1.3.0-SNAPSHOT.war and lightblue-rest-crud-1.3.0-SNAPSHOT.war to the open shift gear, and updated lightblue-metadata.json with the expected roles.

please run curl http://vrlblue-vritant.rhcloud.com/rest/metadata
the error message we get i

[2015-02-03 15:47] jewzaam commented on #67
Found that the latest artifacts were not being published.  And then that when they got published we had changed the names of everything.  Working to resolve that before this can issue can be confirmed.  Likely won't be done until late tonight.

[2015-02-03 17:35] derek63 commented on #77
It seems the Maven project info is not getting filtered into that version.jsp, as the version info is not being  returned when I hit /rest/data/version or /rest/metadata/version on my local instances or on our shared dev instance.  I went ahead an updated the Metadata Management app to pull in the info from .../version, so once this is resolved the version info should show up there.

[2015-02-03 18:13] jewzaam commented on #77
It's following the same pattern as health.jsp which works (hit /rest/metadata/health for example).  Both services seem to be resolving /version as an API call.  After some reading around it looks like the servlet-mapping for the rest app having a url of '/*' will override all other servlet mappings.  What is confusing about this is /health works.

Options:
1. use a filter instead of mapping for th

[2015-02-03 18:19] derek63 commented on #77
The version servlet/jsp does return a valid 200 response it is just empty.  I think the issue here is with the Maven filtering, so I think it would not work in health.jp either.  I have confirmed that the Maven metadata substitution works as expected if you just change version.jsp to version.html (same content)

[2015-02-03 18:22] jewzaam commented on #77
My testing showed that everything /rest/{data,metadata}/* would return

[code]

except for /rest/{data,metadata}/health which returned
[code]

Therefore I have put in PR #88 to hijack the health.jsp to have the version instead of a hard coded string.  I've confirmed locally that filtering is working on this file, filtering is enabled for all of webapp directory.  So unless travis doesn't allow thi

[2015-02-03 18:22] derek63 commented on #77
I stand corrected...the commit you just did does seem to work.  Will update the management app to look for it in /health instead of /version

[2015-02-03 18:24] jewzaam opened #89 "Do something better for version than hijacking health.jsp"
See comments in https://github.com/lightblue-platform/lightblue-rest/issues/77 for the context.  Probably should long term look at doing a filter for rest app instead of a servlet mapping, but maybe someone else knows some other way to do it.

[2015-02-03 18:25] jewzaam commented on #89
Note, if version is saved somewhere else the management apps need to be updated as well.  I recommend not putting in an issue for that until the solution here is known.

[2015-02-03 18:52] jewzaam commented on #77
Confirmed internal monitoring doesn't care what is returned, just that something is returned.

[2015-02-03 19:00] #77 closed

[2015-02-03 23:45] jewzaam commented on #67
@vritant I have fixed the issues with the cart.  I'll document it on https://github.com/lightblue-platform/openshift-lightblue-cart/pull/9 but basically  it now pulls down the correct versions of stuff.

I have verified as much as I can on rhcloud right now.  Did a complete verification on our open shift enterprise deployment but for some reason rhc is not happy with rhcloud right now.

Glad I sta

[2015-02-03 23:45] #67 closed

[2015-02-04 19:55] luan-cestari opened #91 "Dependencies conflict"
I ran
[code]
And I saw some conflicts in our dependencies, including the following one :
[code]

Maybe this is the root cause of the graphite / servo integration and even other issues we may have in the feature, I think we should review and solve all dependencies conflicts for this repository and for the other ones as well.

[2015-02-05 18:43] #75 closed

[2015-02-05 19:56] dcrissman commented on #21
Unless I am misunderstanding something, this kind of sounds like it might belong in core?

[2015-02-05 19:58] bserdar commented on #21
It might, and it could be included in
https://github.com/lightblue-platform/lightblue-core/issues/172

On Thu, Feb 5, 2015 at 12:56 PM, Dennis Crissman <notifications@github.com>
wrote:

[2015-02-05 20:35] luan-cestari commented on #85
The nabble discussion http://dev.forum.lightblue.io/Regression-amp-integration-tests-for-rdbms-td344.html

[2015-02-05 20:51] jewzaam commented on #85
Given our use of RDBMS today, we need to target find operations only right now.  Simple queries would be good to start with.  Migrations use just a time field to look for records.  The metadata used should be complex. Complex means it contains sub-documents and arrays.  Preferably the following scenarios:
* simple metadata, flat field structure
* metadata with single simple array (strings)
* metad

[2015-02-06 17:30] luan-cestari commented on #85
The changes needed can also involve the rdbms module. The PR https://github.com/lightblue-platform/lightblue-rdbms/pull/108 was made for handling this for this set of changes another PR will handle the changes for RDBMS

[2015-02-06 18:43] jewzaam opened #92 "The /health servlet is successful even if services are not responding"
Because it isn't checking the rest applications, it's possible for the servlet to be working but the service to be effectively offline.  Just had this happen in dev.  All node's /health endpoint reported just fine but any rest api calls were not successful.  We need something better!

[2015-02-06 23:43] luan-cestari commented on #85
PR with parcial changes needed https://github.com/lightblue-platform/lightblue-rest/pull/93

[2015-02-20 19:17] jewzaam commented on #17
We might have made this no longer a command while debugging graphite issues.

[2015-02-20 20:01] derek63 commented on #17
We did remove the command in https://github.com/lightblue-platform/lightblue-rest/pull/72.  Guess it can be added back now we have the statsd thing happening

[2015-02-20 21:12] jewzaam commented on #17
Let's add it back in then so we can use the fallback feature from hystrix commands as well as collect metrics for the command in general.

[2015-02-21 19:46] luan-cestari opened #97 "Replace all Error.reset() using a Servlet Filter"
I thought that we could replace the Error.reset() statements (like the following one https://github.com/lightblue-platform/lightblue-rest/blob/master/crud/src/main/java/com/redhat/lightblue/rest/crud/AbstractCrudResource.java#L98 ) using a single call inside a Java Servlet Filter class. Does anyone see a problem doing this ? I thought that would be helpful to avoid calling  Error.reset() indirectl

[2015-02-23 12:55] jewzaam commented on #97
Downside is scattering the logic about in various places.  Error.reset() is pretty important for getting the context correct.  We can leave this issue as a note that we'll have to deal with it if we ever have service API's call each other.

[2015-02-24 00:03] luan-cestari commented on #17
Made the changes requested. I saw that it already had a basic idea of where one of the caches would be , and also reviewing the history of the changes there (like #72 ), it required another cache (so it is one for the hystrix command and another for the list returned). I think we could refactor the hystrix command return the List<String> (so it would avoid an special case where the query returns f

[2015-02-24 16:17] luan-cestari opened #101 "Change Arquillian to use embedded wildfly"
Now it is using the most basic Arquillian container that helps with CDI but it might be interresting to change to use wildfly which is much more close to the application server that we are going to use to deploy. I thought this working on https://github.com/lightblue-platform/lightblue-rest/issues/2 where I needed to test the client side of the rest integration but the current arquillian container

[2015-02-24 18:59] jewzaam opened #103 "Integration tests fail intermittenly due to hystrix plugin registration"
[code]

It's failing pretty often on travis for openjdk7 builds, less (if at all) for oraclejdk8.  I can't reproduce it locally.  Maybe travis has an alias for `mvn`?  I tried with the exact same args and it builds fine every time.

[2015-02-24 18:59] jewzaam commented on #103
@luan-cestari giving this to you as it's slowing down getting fixes pushed to rest repo.

[2015-02-24 19:05] luan-cestari commented on #103
@jewzaam OK, I will investigate this issue

[2015-02-24 19:25] jewzaam opened #104 "Cobertura fails in travis after_script"
[code]

[2015-02-24 20:00] luan-cestari commented on #103
Note: maybe we could use ```type``` to see if any command has an alias and ```which``` to see if it is using alternatives

[2015-02-25 15:53] dcrissman opened #105 "Create a reusable and easily consumable test harness for client code that need to test against a mocked lightblue instance"
There is no clear way to do this. It looks like some work has already been doing using Arquillian. This issue is about packaging this in a reusable way.

[2015-02-25 16:41] jewzaam commented on #105
Duplicate of https://github.com/lightblue-platform/lightblue-core/issues/52 (which should live in rest not core I guess)

[2015-02-26 14:44] #2 closed

[2015-03-02 17:45] dcrissman opened #106 "RejectedExecutionException happening on CRUD servers"
The below exception is repeatedly showing up in the logs of our CRUD servers.

Found this article that might help:
http://examples.javacodegeeks.com/core-java/util/concurrent/rejectedexecutionexception/java-util-concurrent-rejectedexecutionexception-how-to-solve-rejectedexecutionexception/

[code]

[2015-03-02 19:06] dcrissman commented on #106
Wiki that details the hystrix configuration. I am focusing on maxQueueSize and queueSizeRejectionThreshold.
https://github.com/Netflix/Hystrix/wiki/Configuration

[2015-03-02 19:07] dcrissman commented on #106
Hystrix is currently being configured via puppet. See lightblue::eap::module and config.properties.erb.

[2015-03-04 14:13] luan-cestari commented on #91
We can also use the following plugin:
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-enforcer-plugin</artifactId>
                <version>1.4</version>
                <executions>
                    <execution>
                        <id>enforce</id>
                        <configuration>
                            <rules>

[2015-03-04 20:45] dcrissman commented on #106
If the migrator has more than X records from the source, then send requests to the destination in batches.
https://github.com/lightblue-platform/lightblue-migrator/pull/77

[2015-03-04 20:46] dcrissman commented on #106
Added the following settings to /usr/share/jbossas/modules/com/redhat/lightblue/main/config.properties

[code]

[2015-03-05 14:44] dcrissman opened #107 "Connection times out when deleting large amounts of records"
[code]

[2015-03-05 15:15] dcrissman opened #108 "Confusing error given when attempting to insert large number of rows at once."
data.json contains 87623 records, so I might expect a error related to too much data, but instead I get something about authentication. I am able to insert smaller sets of data just fine.

[code]

[2015-03-05 15:19] bserdar commented on #108
How big is the data? POST has implementation dependent size limits.

On Thu, Mar 5, 2015 at 8:15 AM, Dennis Crissman <notifications@github.com>
wrote:

[2015-03-05 15:52] luan-cestari commented on #103
Some work made on https://github.com/lightblue-platform/lightblue-rest/pull/99 and on the core that might solve this issue (reseting  the previous strategy) . Let's wait a month to see if this issue happens again in any rest build (as it have integration tests

[2015-03-05 16:06] dcrissman commented on #108
Just shy of 41meg.

I am not arguing that size should be allowed, only that the exception provided is misleading.

[2015-03-05 16:08] bserdar commented on #108
41meg shouldn't be too large. However, you have to split this into multiple
operations of smaller batches anyway.

On Thu, Mar 5, 2015 at 9:06 AM, Dennis Crissman <notifications@github.com>
wrote:

[2015-03-05 18:23] dcrissman commented on #108
That was exactly my work around.

[2015-03-05 18:25] dcrissman commented on #106
I have made changes to the migrator to batch certain types of operations and that seems to be helping. At this time I will go ahead and close this ticket out as it now seems to be more of an issue on the migrator side.

[2015-03-05 18:25] #106 closed

[2015-03-06 19:16] luan-cestari opened #109 "Make cache configurations not hard coded."
$subject
The actual implementation on LDAPCache class relies on fixed configurations that we should move else  where (maybe move to one of the json files handled by lightblue-core)

[2015-03-09 14:10] luan-cestari commented on #103
Note:I built the PR that have the fix a couple of times an this issue haven't occurred so far

[2015-03-10 20:17] luan-cestari commented on #13
The PRs https://github.com/lightblue-platform/lightblue-core/pull/339 and https://github.com/lightblue-platform/lightblue-mongo/pull/81 might solve this issue

[2015-03-11 13:44] jewzaam opened #112 "Create static factory method for creating LDAPCacheKey"
Instead of having two uses of the constructor that have to be done in the same way (see how param `searchFilter` is passed).

[2015-03-11 18:16] luan-cestari commented on #112
@jewzaam Did you mean a builder instead factory method? A factory method would be nice if we plan to create a concrete implementation of  an interface but it is not the case. Why do you think that if we create a static method to create a LDAPCacheKey instance would be better than the constructor that it have right now?

[2015-03-11 18:55] jewzaam commented on #112
Updated title to remove "factory".  Yes, it would be better to have the logic for creating the searchFilter in one place rather than in many.  Maybe it's not appropriate to be in the LDPACacheKey itself but it should be somewhere in this code base.

[2015-03-12 12:28] luan-cestari commented on #13
Could someone try to reproduce the issue to see if the error code will change please? I think the data service might need to get the metadata service before hand so this might solve the issue (or I will have to investigate another point to fix)

[2015-03-12 16:21] derek63 commented on #13
The way to reproduce this issue would be to remove the Mongo credentials used by the service from the data store it is connecting to.  Let's not do this in our dev environment, but someone could definitely do it locally on their workstation.

[2015-03-12 19:28] luan-cestari opened #113 "Problem with java.lang.Error with Hystrix"
We have an open issue with Hystrix ( https://github.com/Netflix/Hystrix/issues/713 ) related to the PR https://github.com/lightblue-platform/lightblue-rest/pull/99 for issue https://github.com/lightblue-platform/lightblue-rest/issues/17 which we tried to handle the Throwable  from Hystrix API ( https://github.com/luan-cestari/lightblue-rest/blob/Issue%2317/auth/src/main/java/com/redhat/lightblue/r

[2015-03-13 13:28] luan-cestari commented on #12
PRs for this issue -> https://github.com/lightblue-platform/lightblue-core/pull/344  ,  https://github.com/lightblue-platform/lightblue-mongo/pull/84

[2015-03-13 13:28] luan-cestari commented on #13
new PRs to this issue -> https://github.com/lightblue-platform/lightblue-core/pull/344  ,  https://github.com/lightblue-platform/lightblue-mongo/pull/84

[2015-03-13 14:09] luan-cestari commented on #103
The rest PR related to solve this issue was build several times after the last update I made and It didn't have the problem mentioned by this issue

[2015-03-13 18:48] #17 closed

[2015-03-13 23:31] luan-cestari opened #115 "Fix Hystrix configuration"
Found strange behavior case when the commands were taking more than one second to respond and after looking into the Hystrix documentation (which  was outdated https://github.com/Netflix/Hystrix/issues/714 ) and code I understood that Hystrix changed its default behavior. After search more a bit found the https://github.com/Netflix/Hystrix/blob/master/CHANGELOG.md that make it clear that now even

[2015-03-16 13:13] jewzaam commented on #103
@luan-cestari if it's not happening should we close it?

[2015-03-16 13:22] jewzaam commented on #115
Nice find, I added issues to ldap and mongo, as they use this isolation strategy for tests as well.

[2015-03-16 13:41] luan-cestari commented on #115
Thanks. O think they will also rename that property, so It would be ncie that we leave at least one issue one about this to make sure that we have the right property set (as we can get a newer version during lightblue release and have a simialr problem once again)

[2015-03-17 13:07] luan-cestari commented on #103
@jewzaam I agree with you. Closing this issue

[2015-03-17 13:07] #103 closed

[2015-03-17 16:11] derek63 opened #116 "LDAP Authorization cache doesn't appear to be working"
The changes implemented in https://github.com/lightblue-platform/lightblue-rest/pull/99 were recently deployed to our dev environment, and we lost all ability to access any of the REST endpoints (403 returned from JBoss in all cases).  Upon investigation, no information was being written to the access.log file, so it seemed like LDAP wasn't even being consulted for user roles.  I reverted the logi

[2015-03-17 17:49] luan-cestari commented on #116
@derek63 What about I make a PR with more log statements so we  could have a better picture of the problem and i parallel I will also work creating integration tests to this module (which will take more time to finish)?

[2015-03-17 18:36] derek63 commented on #116
Sure, more logging statements could help to isolate where the issue lies, and we can use that to troubleshoot.  Let me know when you get that created and I can merge it in.

[2015-03-17 19:58] luan-cestari commented on #116
Created the PR for the log. Feel free to review it  & merge it -> https://github.com/lightblue-platform/lightblue-rest/pull/117/files

[2015-03-18 12:16] #115 closed

[2015-03-18 12:50] luan-cestari commented on #116
New PR for this problem -> https://github.com/lightblue-platform/lightblue-rest/pull/119

[2015-03-18 18:31] jewzaam opened #120 "Log/audit access for REST requests"
We have access logs but it only tracks AuthN/Z.  Once authorized we don't track what the client is requesting.  I'd like to see logs to track the principal along with the rest request at least including:
* timestamp
* principal
* rest resource (crud vs metadata)
* operation (insert, update, find, etc)
* entity name
* entity version

From a security point of view we have to be careful not to log:
*

[2015-03-19 00:24] #104 closed

[2015-03-19 00:25] jewzaam commented on #13
@luan-cestari can this be closed?

[2015-03-19 00:25] jewzaam commented on #12
@luan-cestari can this be closed?

[2015-03-19 13:52] luan-cestari commented on #12
@jewzaam I think it can be closed, I thought @derek63 would test to validate the set of PR that were merged before we close this issue

[2015-03-19 13:57] luan-cestari commented on #13
@jewzaam yeah, we can close. The PRs related to this issue were both merged. I thought @derek63 would reproduce the problem to see if he agree the changes made satisfy the requirements.

[2015-03-19 14:26] #13 closed

[2015-03-19 14:34] #116 closed

[2015-03-19 20:46] #12 closed

[2015-03-25 19:26] dcrissman opened #123 "RestConfiguration datasource bug"
In RestConfiguration ...

1. If you want to use a different datasource json file, you still must have a datasources.json for initialization even if you don't want to use it.
1. Even if you do change the datasource the factory will not be updated.

[2015-03-25 19:33] dcrissman commented on #123
The ability to use a different LightblueFactory without using the standard datasources.json is required for https://github.com/lightblue-platform/lightblue-mongo/issues/89

[2015-03-26 02:10] luan-cestari commented on #115
The issue in Hystrix about the renaming -> https://github.com/Netflix/Hystrix/issues/673

[2015-03-26 19:16] alechenninger opened #125 "CORS support is not configured on basic-auth and cert-auth services"
The servlet context listener and resource param are missing from their web.xml

[2015-03-26 20:02] #125 closed

[2015-03-26 21:23] alechenninger opened #127 "NullPointerException when version is omitted and no default version is set"
I think maybe there could be a more specific exception for this? Right now you just get a 500 with:

{"errors":[{"objectType":"error","context":"rest/FindCommand/termsAcknowledgementJDBC","errorCode":"rest-crud:RestFindError","msg":"java.lang.NullPointerException"}],"status":"ERROR"}

[2015-03-27 14:10] dcrissman commented on #105
Closing as duplicate

[2015-03-27 14:10] #105 closed

[2015-03-31 19:25] #123 closed

[2015-04-05 14:06] alechenninger opened #129 "Sonatype Snapshots are out of date?"
https://oss.sonatype.org/content/repositories/snapshots/com/redhat/lightblue/rest/rest-crud/1.3.0-SNAPSHOT/

Shows that the last update was January 16th (which is before the CORS feature, so lightblue-docker is not very useful for testing data mgmt since it pulls from that link and that link does not have the latest). You can observe it's not just a wrong timestamp either -- the classes inside the

[2015-04-05 14:13] alechenninger commented on #129
Nevermind, dockerfiles are using the wrong artifact name

rest-crud should be lightblue-rest-crud

[2015-04-05 14:13] #129 closed

[2015-04-07 18:16] jewzaam opened #132 "Refactor LDAP Cache stuff"
We removed it in prep for Ana because it caused enough threads to be consumed that JBoss started having OutOfMemoryError thrown.  I think, based on jstack output, that we have something keeping connections to ldap open.  Therefore, there are two main points to this issue:
1. why would we keep creating and not garbage collecting InitialLdapContext objects?
2. why is the LdapContext saved as part of

[2015-04-08 20:49] #57 closed

[2015-04-15 12:27] luan-cestari commented on #127
This behavior might be due the lines 62 and 64 (commented in the snippet of FindCommand class' code) which the root cause are the invocation of  BasicProjection.fromJson(BasicProjection.java:38) or  AbstractRestCommand.validateReq(AbstractRestCommand.java:106) methods. I think we can have two different approach to solve this issue following what we have been doing. One is to have a try/catch for l

[2015-04-20 17:20] paterczm commented on #112
Which constructor is used twice the same way? I don't know what is to be done here.

[2015-04-20 18:25] jewzaam commented on #112
`git grep "new LDAPCacheKey"`

Note that one of them is commented out right now.

[2015-04-20 19:08] paterczm commented on #112
Ah ok. This will be fixed once https://github.com/lightblue-platform/lightblue-rest/pull/135 is merged in.

[2015-04-22 20:17] luan-cestari commented on #127
Made the https://github.com/lightblue-platform/lightblue-rest/pull/137 to fix the issue

[2015-04-27 13:15] #127 closed

[2015-04-27 14:31] jewzaam commented on #132
Fixed in https://github.com/lightblue-platform/lightblue-rest/pull/135

[2015-04-27 14:31] #132 closed

[2015-04-27 19:51] #120 closed

[2015-04-28 18:51] dcrissman opened #139 "fix warning: rolesProperties"
2015-04-28 14:45:58,103 [https_executor-threads - 44] WARN [org.jboss.security] PBOX000234: Invalid or misspelled module option: rolesProperties

[2015-04-28 18:52] dcrissman commented on #139
I am not sure I know what the severity of this is. It is only a WARN, but doesn't sound good.

[2015-04-29 13:23] jewzaam opened #140 "AbstractCrudResource must not log response body"
We shouldn't be logging any data in our server logs.  Noticed today AbstractCrudResource is logging the response for a find operation at info level.  Needs to be removed.

[2015-04-29 13:32] jewzaam commented on #140
Note, checked logs and I don't see any other instances of responses being logged.  Checked by looking for string "processed".

[2015-04-29 13:44] #140 closed

[2015-04-29 15:46] dcrissman opened #142 "Hystrix timeouts"
We started to get the below exception on Friday April 24th at around 9AM. The only snapshot build for that day was based off git hash 32d58f16965854d0455ccaecd35f84750a336fea. Which was for https://github.com/lightblue-platform/lightblue-rest/pull/128. We need to investigate to see what is going on.

[code]

[2015-04-29 17:06] dcrissman commented on #142
I believe this has to do with a slow down in parsing the request using so many regexes. I am working on a change that will at least do this asynchronously as to not affect the response time.

[2015-04-29 18:35] luan-cestari commented on #142
I dont think regex would impact that much, but surely it adds an overhead of the URL processing (as that even the JAX-RS impl will do that). Audit log have many exclusive conditions which would not make it just a small set of regex to be executed and the pattern is already generated, so I would not expect it to take so much time. It would be nice if we profile the execution after all the variables

[2015-04-30 13:04] paterczm opened #145 "Improve LightblueLdapRoleProvider performance"
InitialLdapContext initialization (in LightblueLdapRoleProvider's constructor) takes 100-200ms. It does not need to be done for every call.

[2015-05-04 18:35] dcrissman commented on #142
I am no longer seeing this exception, closing.

[2015-05-04 18:35] #142 closed

[2015-05-05 20:10] luan-cestari commented on #91
The list of conflicts:
$ ( cd lightblue-rest/ &&  mvn dependency:tree -Dverbose |  grep -o '(.* conflict\|^' | sort | uniq  )
(classworlds:classworlds:jar:1.1-alpha-2:compile - omitted for conflict
(com.fasterxml.jackson.core:jackson-databind:jar:2.2.3:compile - omitted for conflict
(commons-collections:commons-collections:jar:3.1:compile - omitted for conflict
(commons-httpclient:commons-httpclie

[2015-05-11 16:09] dcrissman opened #149 "Trying to just return matchCount for total documents in a collection"
I am just trying to get a count of how many documents are in a collection. Firstly, this feels kind of clunky. Secondly, all the {} clutter up the results. Is there a way we could simplify?

[code]

[2015-05-11 16:15] bserdar commented on #149
This might take care of it.

https://github.com/lightblue-platform/lightblue-core/pull/397

On Mon, May 11, 2015 at 10:09 AM, Dennis Crissman <notifications@github.com>
wrote:

[2015-05-26 15:28] bserdar opened #152 "CRUD Rest calls validation fails for default version calls"
Null ptr exception in AbstractRestCommand.validateReq(), doesn't expect a null version there.

[2015-05-28 20:37] #152 closed

[2015-06-19 13:05] jewzaam opened #158 "Publishing way more metrics than expected for our deployment..."
Not sure we can do anything to change how much we publish.  But maybe there's some way we can prune before it gets published since we're doing some custom stuff with statsd.

[2015-07-28 17:25] dcrissman opened #162 "Dynamically configure maven dependencies for lightblue plugins"
From a maven dependency perspective, all possible plugins must be listed in lightblue-rest's pom file. You can already fine tune which plugins are actually used at runtime via the lightblue-metadata.json configuration, but all the possible plugins must still be listed in the pom.

It would be idea if you could truly configure what plugins you wanted to use. This would be beneficial for highly cust

[2015-07-29 14:18] dcrissman commented on #162
Found this article: http://stackoverflow.com/questions/402330/is-it-possible-to-add-to-classpath-dynamically-in-java

Maybe we create a 'magic' directory and any jars in it get loaded at runtime?

[2015-07-30 14:26] jewzaam commented on #162
Probably could put the jar's for the hooks and controllers into a module, keeping the lightblue-rest pom clean.  There are unit tests that depend on some of those things.  Maybe they can be put into a separate module that has those hook and controller dependencies with a scope of test.  The mongo controller is used all over the place, though, so we may want to deal with pulling that out separately

[2015-08-11 16:15] #85 closed

[2015-08-18 17:45] bserdar opened #166 "Allow overwrite metadata"
Will be allowed for only SNAPSHOT versions.

[2015-09-01 17:45] BVulaj opened #171 "Add Swagger schema to enhance documentation and usability"
Swagger adds, with little work, interactive documentation, schema definitions, and [variable](https://github.com/swagger-api/swagger-js) [levels](https://github.com/swagger-api/swagger-codegen) of SDK generation. A working example can be found [here](petstore.swagger.io).  The source of that example can be found [here](https://github.com/swagger-api/swagger-samples/tree/master/java/java-jersey-jax

[2015-09-08 14:11] bserdar commented on #166
Fixed in mongo

[2015-09-08 14:11] #166 closed

[2015-10-05 16:19] jewzaam opened #178 "Query timeout doesn't return a response"
I'm testing what happens when attempting to pull a large set of data out of lightblue.  If the rest layer times out I get an empty response.  I see in server logs that the rest hystrix command timed out and threw UnhandledException:

[code]

Then server log spews the full stack for the timeout, but using curl I get this:

[code]

Note the hystrix command times out at 10 seconds, so I have curl sto

[2015-10-07 14:56] jewzaam opened #179 "REGRESSION: two insert REST endpoints were removed in July"
These API's were deprecated and were used by some apps internally.  The removal is a breaking change.

See removal of insertAlt methods in AbstractRestResource in 916892d6e31f217aad9cb845610514f32213a21d

[2015-10-07 17:36] #179 closed

[2015-10-26 16:41] paterczm opened #184 "Pinging a non existing lock should not result in 500 error"
PUT https://{{host}}/rest/data/lock/domain/callerId/resourceId/ping

Results in
[code]

Which is descriptive enough, but the result status should not be 500.

[2015-11-05 18:44] paterczm commented on #184
See HttpErrorMapper class.

[2015-11-12 15:50] bserdar opened #185 "Default entity version doesn't work with find()"
MigrationJob:2.0.1 is a default version, but:

curl $host/rest/data/find/migrationJob?Q=configurationName:userNameChangeValidation"
{"status":"ERROR","modifiedCount":0,"matchCount":0,"hostname":"lightbluecrud1.dev.a1.vary.redhat.com","errors":[{"objectType":"error","context":"rest/FindCommand/migrationJob/find(migrationJob:null)/getEntityMetadata(migrationJob:null)","errorCode":"mongo-metadata:Unk

[2015-11-16 22:28] jewzaam commented on #185
Note this works if you use the full query language so I assume it's a problem with the simple query language requiring a version.

[code]

[2015-11-18 17:10] bserdar commented on #185
The problem is in core: FindRequest.fromJson(findRequest.toString()) sets version to "null", not to null.

[2015-11-18 17:18] #185 closed

[2015-11-19 21:57] alechenninger commented on #162
I do this commonly with combination of URLClassLoader and ServiceLoader: https://docs.oracle.com/javase/8/docs/api/java/util/ServiceLoader.html

[2015-11-20 15:28] dcrissman commented on #162
@alechenninger Does that get the jars onto the classpath?

I see once on the classpath, it is easily able to load services. Lightblue currently uses reflection to instantiate hooks and other plugins. I am not sure of the merits of one approach over the other.

I found an <a href=https://docs.oracle.com/javase/tutorial/ext/basics/spi.html#run-the-client">example</a>, of ServiceLoader, where they ar

[2015-11-20 16:01] alechenninger commented on #162
You can use `URLClassLoader` to create a classpath from a jar or directory. So, if you land the hooks somewhere and add configuration to know where to look for hook jars, you can create these classloaders and load the services in them at runtime. Or, as naveen said, you could use some kind of "hooks" module that users could populate using puppet, and then you could use `ServiceLoader` to discover

[2015-11-22 21:57] alechenninger opened #187 "CORS preflight OPTIONS request should not require client cert auth"
Source: http://stackoverflow.com/a/10135361

This is causing issues with the data management application which relies on CORS: https://github.com/lightblue-platform/lightblue-applications/issues/121

[2016-01-06 16:58] alechenninger opened #190 "Please add notification hook"
https://github.com/esbtools/lightblue-notification-hook

It's not published on Maven central yet, but we'll need this added so it is deployable when it is.

[2016-01-19 19:26] dcrissman commented on #162
I have added some PRs, but this all still needs testing and is not yet ready to be merged. I marked everything as in progress. That said, feel free to start reviewing.

[2016-01-22 02:33] jewzaam opened #194 "Index deletion integration tests fail now."
After https://github.com/lightblue-platform/lightblue-mongo/pull/205 integration tests to delete simple and array indexes fail, the indexes are no longer deleted (they stay in the database).

@bserdar @BVulaj FYI

[2016-01-26 20:43] bserdar commented on #194
Fixed now.

[2016-01-26 20:43] #194 closed

[2016-01-28 13:40] dcrissman commented on #162
I have made progress to the point that I can manually drop jar files into some directory and tell lightblue how to pull the in and add them to the class path. I am using lightblue-ldap as a test case.

My current thinking is that I will add the ability for lightblue-ldap to generate an rpm that can deploy the individual jars. This includes lightblue-ldap-core/crud/metadata/common and a ldap librar

[2016-01-28 14:22] alechenninger commented on #162
Why not configurable in a properties file in the properties module? You can also have a default of course

[2016-01-28 14:44] dcrissman commented on #162
To clarify, I will be using maven to generate the rpm similar to other lightblue deployable artefacts. So the install directory will be configurable, but the question is what to set the rpm.install.basedir too (or default if you prefer)?

As far as how to tell lightblue where the jar files are, will be configurable. See #162 for how that will work.

[2016-01-28 20:43] dcrissman commented on #162
Going to drop the jars in /usr/share/java/lightblue/lightblue-rest

[2016-01-28 20:45] kahowell commented on #162
FYI, we want to automate deployment of esbtools/lightblue-notification-hook. Waiting on this work to be complete before proceeding.

[2016-01-29 16:24] dcrissman commented on #162
Keeping this issue alive because work still needs to be done.

[2016-02-01 21:53] dcrissman commented on #190
No longer required. Instead have your artefact generate an rpm that contains only your plugin's code and any required dependencies that are not already part of lightblue (So lightblue-ldap needs the ldap client library for example, but not lightblue-core because it will be provided).

For an example, see https://github.com/lightblue-platform/lightblue-audit-hook/pull/61

If you land your rpm in '/

[2016-02-01 21:54] #190 closed

[2016-02-02 00:12] alechenninger commented on #190
Awesome! Thanks!

[2016-02-02 23:27] dcrissman opened #202 "Move test cases for plugins out of lightblue-rest"
Maybe the plugin itself should own the test cases or something new. Either way, they don't belong in lightblue-rest.

[2016-02-04 15:21] #162 closed

[2016-03-01 13:55] jewzaam opened #206 "Build broken by mongo java driver upgrade?"
https://github.com/lightblue-platform/lightblue-mongo/pull/218

I think this PR broke the build.

@BVulaj FYI

[2016-03-01 14:50] jewzaam commented on #206
Fixed in https://github.com/lightblue-platform/lightblue-rest/pull/207

[2016-03-01 14:50] #206 closed

[2016-03-03 20:31] alechenninger opened #208 "Add ability to configure auth in embedded lightblue for integration testing"
I have some business logic I want to test which involves specific configurable users, which may require lightblue authentication to be enabled.

That being said, I'm currently experimenting if perhaps sending basic auth with the client "just works" anyway, and in that case that would be fine.

[2016-03-03 21:16] alechenninger commented on #208
So messed around with a few things. The main problem I think is that with the embedded http server, this line...

[code]

...always returns `null` which means we can never get the principal with the request.

I tried adding basic auth to lightblue client and added a security context to the embedded http server, but still no dice.

[2016-03-04 00:07] alechenninger commented on #208
If you want to experiment, I added basic auth to the client: https://github.com/lightblue-platform/lightblue-client/pull/268

[2016-03-09 20:27] paterczm commented on #208
For auth & authz, lightblue relies on the container. Integration tests use a simple server container (com.sun.net.httpserver.HttpServer). It [can be setup to require basic auth](http://docs.oracle.com/javase/7/docs/jre/api/net/httpserver/spec/com/sun/net/httpserver/BasicAuthenticator.html), but I'm not sure how to add authorization (roles).

[2016-03-09 20:29] alechenninger commented on #208
At least for my use case, I don't care about the roles so much. Does lightblue require them with auth?

[2016-03-09 20:37] paterczm commented on #208
From what I'm seeing, BasicAuthenticator is extremely simple - just a user/pass to protect given resource. I'm not sure it creates a real principal that you can access in a lightblue hook. Requires further investigation.

If what HttpServer offers is not enough, then you need a real container. Arquillian (I have bad experience with it, but you got it to work, if I remember correctly?) or Docker. W

[2016-03-09 20:46] paterczm commented on #208
It may create principal after all: http://docs.oracle.com/javase/7/docs/jre/api/net/httpserver/spec/com/sun/net/httpserver/Authenticator.Success.html

[2016-03-15 17:57] alechenninger commented on #208
For now I think I may have found a workaround that isn't too bad, which lowers the priority on this for me. Thank you for looking into it!

[2016-03-24 02:01] dcrissman opened #214 "Simple Find does not seem to respect range"
.../entity?R=from:0&maxResults:0&P=*:0

{"status":"COMPLETE","modifiedCount":0,"matchCount":19,"processed":[{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{}],"hostname":"myhost"}

[2016-03-31 19:27] BVulaj opened #215 "Add path to re-index hidden fields"
FYI @jewzaam

[2016-04-06 15:54] dcrissman opened #217 "Build exceeding log limit of 4M"
Because of this we are unable to produce new artefacts in travis

[2016-04-08 11:55] dcrissman commented on #217
Fixed in https://github.com/lightblue-platform/lightblue-rest/pull/218

[2016-04-08 11:55] #217 closed

[2016-04-13 14:50] jewzaam opened #220 "Metadata request with missing ldap user fail"
The lookup to ldap fails and the user cannot do requests.  We'd like clients with a valid cert to do read operations against metadata at least.  Here's the important bits of the stack traces:

[code]

[code]

[2016-04-26 21:27] jewzaam opened #221 "Remove hystrix from lightblue-rest"
We have landed at not using any of the features of hystrix and setting up configuration such that it doesn't limit resources.

[2016-04-27 13:57] jewzaam opened #222 "Don't report NoAccess when cannot create new thread"
Don't have details to share here yet, but we see on clients when lightblue cannot create more threads that a "NoAccess" error is reported.  Instead should probably respond with 503.

[2016-04-27 19:49] bserdar commented on #222
There's no real way to test this fix. I'll implement and put it to dev to make sure nothing is broken

[2016-05-09 19:01] bserdar commented on #221
https://github.com/lightblue-platform/lightblue-rest/pull/231

[2016-05-09 19:01] #221 closed

[2016-05-17 19:23] dcrissman opened #234 "Lightblue plugins have classpath issues in JBossAS"
[code]

[2016-05-17 19:24] dcrissman commented on #234
See discussion at http://dev.forum.lightblue.io/Lightblue-Plugin-Design-td425.html

[2016-05-17 19:24] dcrissman commented on #234
Possibly also related to https://github.com/lightblue-platform/lightblue-mongo/issues/214

[2016-05-17 21:23] alechenninger opened #235 "Add endpoints for just updating specific portions of entityInfo"
It's a bit stressful updating entityInfo because if anything is messed up it can be fatal, and often you just want to update one small thing, like a hook configuration.

It'd be great if you could just hit an endpoint like PUT /metadata/user/hooks/notificationHook/ with notification hook configuration JSON.

[2016-05-18 01:28] alechenninger commented on #234
I think the problem is that core is assuming the plugins are on the current running classpath, and there's not a good way to safely augment the current classpath.

Isolated classloaders are really designed for this class of problem. You probably want to collect URLs to jars to load as plugins, each in their own classloader, and then provide instances of plugins to a LightblueFactory. Each instance

[2016-05-18 02:23] dcrissman commented on #234
+1 to moving the functionality into core. The reason it was not initially done that way was to prevent a chicken/egg problem with the datasources.json which is also loaded in lightblue-rest. Likely not an issue for hooks, but a problem for (as an example) the ldap controller.

[2016-05-18 02:44] bserdar commented on #234
We need something like PluginRegistry in core, with plugin jars registered
to it, and all class lookups should be converted to something like
PluginRegistry.getPluginClass() which should both do an isolated
classloader lookup and system classloader lookup.

On Tue, May 17, 2016 at 8:23 PM, Dennis Crissman <notifications@github.com>
wrote:

[2016-05-19 15:00] #222 closed

[2016-05-19 15:01] #113 closed

[2016-05-19 15:03] #97 closed

[2016-06-03 15:49] BVulaj opened #241 "Upgrade to JAX-RS 2.0 spec"
2.0 spec is ~3 years old at this point.  There's some new features that would be useful, like `@BeanParam`, and just keeping us more up to date.

[2016-06-03 16:39] #214 closed

[2016-06-03 19:00] bserdar opened #242 "Metadata diff API?"
https://github.com/lightblue-platform/lightblue-core/issues/260

 jblashka commented on Dec 15, 2014

Not sure where this should go, but it would be nice if there was metadata diff api available that would return the diff of two versions of an entity's metadata, instead of having to download the two metadatas and find some comparison tool.

Maybe /rest/metadata/terms/1.0.0/1.0.1 ?

[2016-06-06 17:15] #242 closed

[2016-06-11 14:24] alechenninger commented on #235
@bserdar @jewzaam Would you be opposed to something like this? I'd be willing to work on a pull request this week if you don't see any issues. It wouldn't be comprehensive for all of entityInfo, but would set a pattern for other bits of entityInfo to follow.

Specifically I would like to implement something like `PUT /metadata/{entityName]/entityInfo/hooks/{hookName}` as this would help simplify o

[2016-06-13 03:28] bserdar commented on #235
+1 for implementing this in lightblue rest. Adding functionality to core
would be difficult, as it does not specify how actually the metadata is
stored and managed.

On Sat, Jun 11, 2016 at 8:24 AM, Alec Henninger <notifications@github.com>
wrote:

[2016-06-13 12:23] alechenninger commented on #235
Naively, couldn't we add abstract methods such as `updateHookConfig(String, HookConfiguration)` and let lightblue-mongo figure out how to store it?

I guess core would have to be able to parse the hook configuration, but I think it can do this?

I'm mostly curious, I don't have an issue with implementing it only in lightblue-rest.

[2016-06-13 12:52] bserdar commented on #235
It will be defined in core, but won't be used there. It will be like
defining a function needed and used in one layer somewhere else just
because there  happens to be an interface where it fits.

Using the same logic., it doesn't make sense to have createMetadata,
createSchema, etc. in core as well, and we should remove them from metadata
interface. We can define a separate metadata management int

[2016-06-15 11:23] alechenninger commented on #235
But putting that in core decouples you from the backend right? I guess I
understood the Metadata interface is like a Mediator but for crud on
metadata instead of crud on entities. It abstracts the backend.

Again, just exploring this with you :). I'd like to understand the bits and
pieces better.

On Mon, Jun 13, 2016, 8:52 AM Burak Serdar <notifications@github.com> wrote:

[2016-06-15 14:23] bserdar commented on #235
I don't think putting that in core decouples front-end and back-end. I
think it couples them to core unnecessarily.

core is at the bottom of the stack, and has a very limited view of the
world. It mainly deals with crud orchestration. All it needs in terms of
metadata is to retrieve it in a structure it can interpret.The actual
metadata management is done in mongo, and that's only one of the poss

[2016-06-15 14:29] alechenninger commented on #235
Interesting, makes more sense now, thank you. Do you think in the future there would be a good place other than mongo and core to add an interface to abstract working with metadata?

[2016-06-15 14:39] bserdar commented on #235
Can't say. It is possible to write a completely separate webapp that deals
with metadata maintenance. That eliminates all the need to involve core or
mongo in metadata maintenance. All we really care about is some way to get
it.

On Wed, Jun 15, 2016 at 8:29 AM, Alec Henninger <notifications@github.com>
wrote:

[2016-06-23 14:49] bserdar commented on #235
Here's a proposal:

Entity info has these components:
 - indexes[]
 - hooks[]
 - enums[]
 - datastore

For the arrays, we can add a an add api that gets a json document:
 {
    indexes: [
       ...
    ]
}
The api adds the index/hook/enum to metadata.

A remove api, something like
DELETE  .../indexes=<indexName>[,<indexName>...]

And a modify api that gets the same json doc as add function.

For

[2016-06-23 17:26] jewzaam commented on #235
So the full entityInfo is in the request but use query param to indicate which subset to operate agains?

[2016-06-23 17:31] bserdar commented on #235
No, only the relevant part is in the request. Maybe something like a PATCH request containing an object with pieces of entityInfo, and it'll be patched to the stored entityInfo.

[2016-06-23 17:40] jewzaam commented on #235
That makes sense.  Could we have a quick spec on what is expected?  Sample metadata and how to make a request to operate against an index, assuming it's the same for hooks and enums.  How to delete, add, and update.

[2016-06-23 17:56] bserdar commented on #235
Here's a first attempt:

PATCH rest/metadata/entityName

{
   datastore: {...},
   indexes: [ ... ],
   enums: [... ],
   hooks: [ ...],
}

If a PATCHed object exists in entityInfo any field included in the patch
replaces the existing value.

indexes/enums/hooks are matched by name. If an array element is not in the
entityInfo, it is added. If it is there, it is PATCHed.

Deleting: Two options:
 1

[2016-06-30 00:35] alechenninger opened #244 "Allow trying to acquire many locks in one call"
We have algorithms we require us to acquire a bunch of locks, and we do these in a loop, which forces us to suffer the network round trip for each call. We could parallelize these, true, but it is probably easy to add this to the rest interface also so that we can pass many locks to acquire in one call, with a response that says what locks were successfully acquired and what locks weren't.

Maybe

[2016-06-30 00:48] alechenninger commented on #89
I recently stumbled upon this API:
https://docs.oracle.com/javase/7/docs/api/java/lang/Package.html#getImplementationVersion()

You can add a flag to Maven archiver plugin to add this to the manifest of the artifact using Maven's version:
https://maven.apache.org/shared/maven-archiver/examples/manifest.html

This means the version just stays magically up to date with your Maven project's version,

[2016-06-30 01:39] bserdar commented on #244
There are some problems. Do you want all or none, or do you want best
effort? That's why bulk lock requests are not supported.

Best effort is easy to implement, all or none is not. In any case, this has
to be handled in a separate type of call, not bulk call.
On Jun 29, 2016 5:35 PM, "Alec Henninger" <notifications@github.com> wrote:

[2016-06-30 02:33] alechenninger commented on #244
Just want best effort, same as you would get if you made many separate
calls. The goal is just to save on excess IO, same semantics otherwise are
fine.

On Wed, Jun 29, 2016 at 9:39 PM Burak Serdar <notifications@github.com>
wrote:

[2016-06-30 02:39] bserdar commented on #244
Lets make that a separate api. A bulk request mixed with both crud
operations and synchronization primitives, when submitted as an ordered
bulk request, looks too much like a sequence of operations with memory
barriers.
On Jun 29, 2016 7:33 PM, "Alec Henninger" <notifications@github.com> wrote:

[2016-07-27 14:51] jewzaam opened #245 "Update unit tests to use mongo 3.2.4+"
We have this deployed in production so would be good to test with it.  Should we setup tests to run with multiple versions of mongo or is that overkill?

[2016-09-20 05:15] JankiGadhiya opened #246 "Getting error while deploying lightblue on WildFly 10.1.0"
This is the error i am getting :
[code]

I have found some solutions that are telling me to add `module.xml` but I don't know exactly where to add that and what should be the content of `module.xml` for light blue.

I am very new in wildfly deployment it will great help if anyone comes up with a solution.

Anyone with the same error as mine ?

[2016-09-20 05:21] bserdar commented on #246
You need to add a directory  $JBOSS_HOME/modules/com/redhat/lightblue/main, and put the configuration files there. There are examples here: https://github.com/lightblue-platform/lightblue-rest/tree/master/etc/jbossas/modules/com/redhat/lightblue/main

[2016-09-20 06:05] JankiGadhiya commented on #246
Thanx @bserdar. I have done as you said and thank you that error is gone.

But there is another error can you please look into this :

[code]

[2016-09-20 06:13] bserdar commented on #246
org.jboss.msc.service.DuplicateServiceException: you seem to have the same service more than once.

For no authentication setup, simply deploy the wars under metadata and crud.  crud-basic-auth and crud-cert-auth are different authentication variants of the same service. Same for metadata.

[2016-09-20 06:44] JankiGadhiya commented on #246
@bserdar Thanks for everything. Can you please help me in one more thing ??

I am not able to access the light blue rest services by : http://localhost:8080/lightblue-rest-metadata/

I am getting **404 - Not found error** how can i access the rest service can you please tell me??

[2016-09-20 07:07] bserdar commented on #246
Try /rest/metadata
Check the specs document for the rest spec

On Sep 20, 2016 12:44 AM, "JankiGadhiya" <notifications@github.com> wrote:

[2016-09-20 07:14] JankiGadhiya commented on #246
@bserdar Hi, http://localhost:8080/rest/metadata/ is giving **Forbidden**.

Can you please guide me in this??

[2016-09-20 13:09] bserdar commented on #246
Did you deploy one of the auth versions? Deploy either metadata or crud
WARs (without auth).

Answers to all these can be found in the docs:

https://github.com/lightblue-platform/lightblue-docs-user
https://github.com/lightblue-platform/lightblue-docs-developer
https://github.com/lightblue-platform/lightblue-docs-specs

On Tue, Sep 20, 2016 at 1:14 AM, JankiGadhiya <notifications@github.com>
wrot

[2016-09-21 07:51] JankiGadhiya commented on #246
Thank you so much for your help @bserdar.
Now I am able to access the rest APIs successfully for metadata & CRUD operations.

[2016-09-21 07:52] #246 closed

[2016-09-23 18:27] dcrissman opened #249 "Include a session UUID in MDC"
This would allow us to group all logs that occurred within a session together. The logger pattern would also need to expose this.

[2016-09-23 18:59] dcrissman commented on #249
An example done elsewhere
https://github.com/candlepin/candlepin/blob/master/common/src/main/java/org/candlepin/common/filter/LoggingFilter.java

[2016-09-30 13:28] paterczm commented on #249
You can add thread name to access logs to be able to align them with sever.log entries. Not the same thing as you propose here, but serves the same purpose - makes aligning logged events easier.

http://tomcat.apache.org/tomcat-7.0-doc/config/valve.html#Access_Log_Valve/Attributes

[2016-09-30 18:23] #249 closed

[2016-10-11 16:56] alechenninger opened #253 "Add endpoint for querying roles?"
I'd like an endpoint I could call from my application to confirm that my application can talk to lightblue, can authenticate, and has expected roles. This would be used as a healthcheck.

Good idea? Bad idea? Feasible?

[2016-10-19 16:01] JankiGadhiya opened #254 "Is it possible to configure datasources.json with mongodb credentials?"
If the answer is yes then how can i do that?

can any one please suggest the changes i need to make in `datasources.json`

[2016-10-19 16:03] bserdar commented on #254
You can check the documents here:

https://github.com/lightblue-platform/lightblue-docs-developer/tree/master/configuration

On Wed, Oct 19, 2016 at 10:01 AM, JankiGadhiya <notifications@github.com>
wrote:

[2016-10-19 16:53] JankiGadhiya commented on #254
After adding that configs i am not able to start my wildfly. getting this error :

[code]

[2016-10-19 17:00] bserdar commented on #254
This is a wildfly boot error, it looks like it can't deploy the war file.
Maybe you have more than one war deployed, or the contents of the war are
corrupt? It doesn't look like it is related to configuration. It is also
possible that there is another error before this that might tell you what
the actual error is.

On Wed, Oct 19, 2016 at 10:53 AM, JankiGadhiya <notifications@github.com>
wrote:

[2016-10-20 01:32] JankiGadhiya commented on #254
Thank you @bserdar

There is not error other than this.

Can you please tell me how to remove that deployments ? As i am not able to start admin console and `standalone/deployments/` folder is also empty.

[2016-10-20 03:57] bserdar commented on #254
you don't need the admin console. Put the war file under the deployments
directory, and they should be deployed.

On Wed, Oct 19, 2016 at 7:32 PM, JankiGadhiya <notifications@github.com>
wrote:

[2016-10-20 04:27] JankiGadhiya commented on #254
From this mechanism options which mechanism you suggest me to use :

GSSAPI_MECHANISM, MONGODB_CR_MECHANISM, MONGODB_X509_MECHANISM, PLAIN_MECHANSM

and now i am getting some ssl related error :(

[2016-10-20 04:29] bserdar commented on #254
Please understand that we can't help you every step along the way. There
are ways you can turn off ssl settings, and these are documented, so please
read the documents. This is not a technical help forum, but an issue
reporting system.

On Wed, Oct 19, 2016 at 10:27 PM, JankiGadhiya <notifications@github.com>
wrote:

[2016-10-20 04:35] #254 closed

[2016-10-20 11:34] JankiGadhiya opened #255 "Light blue support for SCRAM-SHA-1 authentication mechanism of MongoDB"
As the latest version of mongodb is 3.2.10 and from version 3.x the mongodb has default SCRAM-SHA-1 authentication mechanism.

and light-blue is supporting only GSSAPI_MECHANISM, MONGODB_CR_MECHANISM, MONGODB_X509_MECHANISM, PLAIN_MECHANSM.

[2016-10-21 02:54] bserdar commented on #255
https://github.com/lightblue-platform/lightblue-mongo/issues/325

[2016-10-21 02:54] #255 closed

[2016-10-25 16:02] derek63 opened #257 "Use UnboundID for LDAP communication in login module"
Built-in Java LDAP support is a joke, and requires us to write ugly code like this:
[code]
Let's use a sane LDAP library that doesn't require System.setProperty calls and Hashtables.

I assumed UnboundID since (I think) that is what was used that in the lightblue-ldap project, but I am open to others as well (spring-ldap, etc.)

[2016-10-26 21:36] dcrissman commented on #257
FWIW UnboundID is what lightblue-ldap uses.

[2016-10-26 21:51] dcrissman commented on #245
if I understand you correctly, you are talking about the version of the mongo server used for testing? If so, then that could be changed in the lightblue-mongo [1] project. That said, 3.2.4 is not an option even in the newest version of the 3rd party mongo library that we use. It is currently possible to change the mongo version using an annotation [2] on the test suite.

[1] https://github.com/li

[2016-10-26 21:58] dcrissman commented on #208
LightblueRestTestHarness now uses Undertow which is a more robust http server than we were using before. I have not investigated this yet, but it allows for more complex configurations and might make this more of a possibility.

[2016-10-26 22:04] dcrissman commented on #208
Actually, I have an example of using basic auth with Undertow [1]. Does that solve the need?

[1] https://github.com/lightblue-platform/lightblue-rest/blob/master/lightblue-rest-integration-test/src/test/java/com/redhat/lightblue/rest/logging/TestLoggingFilter.java#L110

[2016-10-27 12:29] dcrissman commented on #92
I assume https://github.com/lightblue-platform/lightblue-healthcheck resolves this issue. I will go ahead and close this out, but let me know if you still have concerns.

[2016-10-27 12:29] #92 closed

[2016-10-27 12:57] dcrissman commented on #245
Related to https://github.com/lightblue-platform/lightblue-mongo/issues/293

[2016-10-27 13:37] #257 closed

[2016-10-28 14:50] alechenninger commented on #208
That looks like there is a client request with basic auth. Do you have lightblue configured to require authentication in this test?

[2016-10-28 14:57] dcrissman commented on #208
Yes - https://github.com/lightblue-platform/lightblue-rest/blob/master/lightblue-rest-integration-test/src/test/java/com/redhat/lightblue/rest/logging/TestLoggingFilter.java#L50

Here is where the work is actually done in the parent hierarcy: https://github.com/lightblue-platform/lightblue-rest/blob/master/lightblue-rest-integration-test/src/main/java/com/redhat/lightblue/rest/integration/Lightblu

[2016-10-28 15:01] alechenninger commented on #208
What is `LightblueRestTestClient`? Can I use this with tests that use the `LightblueExternalResource`?

[2016-10-28 18:10] dcrissman commented on #208
It is a little utility that I wrote to be able to test the rest layer without the lightblue-client library. I wouldn't expect it to be used much outside of lightblue-rest.

No, that is part of the lightblue-client library.

[2016-10-28 18:14] dcrissman commented on #208
My apologies, I think I misunderstood that last question.

I don't think LightblueExternalResource exposes the functionality, but it exists on LightblueRestTestHarness, so it is possible.

[2016-11-01 01:52] dcrissman commented on #208
@alechenninger Could you rebase https://github.com/lightblue-platform/lightblue-client/pull/268 ? If so, I would approve. I am working on exposing this functionality through LightblueExternalResource, but need your PR for testing. Thanks.

[2016-11-01 13:03] dcrissman commented on #208
I worked some on this last night [1], it seems that auth will fail (correctly) when using invalid credentials but works just fine (incorrect) when passing no credentials. I wrote some unit tests to demonstrate this. I will need to continue to investigate as I have time. I am wondering if undertow needs to be somehow configured to not allow no auth.

Also did some work on the lightblue-client [2],

[2016-11-08 16:37] derek63 opened #264 "Handle multiple LDAP users more gracefully"
Right now, the login module will force an error if more than one LDAP user matches the query generated from the certificate principal (uid=my-principal).  See

https://github.com/lightblue-platform/lightblue-rest/blob/master/auth/src/main/java/com/redhat/lightblue/rest/auth/ldap/CachedLdapFindUserRolesByUidCommand.java#L89

While this is certainly one way to handle it, a better way would be to mer

[2016-11-28 15:07] #208 closed

[2016-12-02 15:29] derek63 opened #269 "Include entity version in response"
When accessing entity data without specifying a version (i.e. relying on a default entity version being configured), it could be useful for the client to know what version was used as the default.  Including it in the response would provide that visibility/knowledge.

[2016-12-02 17:45] alechenninger commented on #269
Corresponding issue in core: https://github.com/lightblue-platform/lightblue-core/issues/727

[2016-12-13 13:49] jewzaam opened #274 "CID 157637: Data race undermines locking (LOCK_EVASION)"
[code]

[2016-12-13 13:50] jewzaam opened #275 "CID 158169, 158168: Null pointer dereferences (NULL_RETURNS)"
[code]

[code]

[2017-01-04 14:01] jewzaam opened #277 "CID 158695: Concurrent data access violations (GUARDED_BY_VIOLATION)"
/lightblue-rest/auth/src/main/java/com/redhat/lightblue/rest/auth/jboss/CertLdapLoginModule.java: 158 in com.redhat.lightblue.rest.auth.jboss.CertLdapLoginModule.getRoleSets()()

[code]

[2017-01-26 10:05] jewzaam opened #279 "CID 160920: Null pointer dereferences (NULL_RETURNS)"
*** CID 160920:  Null pointer dereferences  (NULL_RETURNS)
/lightblue-rest/crud/src/main/java/com/redhat/lightblue/rest/crud/AbstractCrudResource.java: 108 in com.redhat.lightblue.rest.crud.AbstractCrudResource.getSearchesForEntity(java.lang.String, java.lang.String, java.lang.String)()

[code]

[2017-01-26 10:06] jewzaam opened #280 "CID 160919: Concurrent data access violations (GUARDED_BY_VIOLATION)"
*** CID 160919:  Concurrent data access violations  (GUARDED_BY_VIOLATION)
/lightblue-rest/common/src/main/java/com/redhat/lightblue/rest/RestConfiguration.java: 70 in com.redhat.lightblue.rest.RestConfiguration.getSavedSearchCache()()

[code]

[2017-01-30 12:54] derek63 opened #281 "Add ability bypass environment validation in CertLdapLoginModile with specific ou"
If my client certificate principal has an OU as part of its common name that matches what is configured in the login module, then bypass environment validation.

For example, if the login module has the configuration for an "all-access" OU
ou=users,dc=lightblue,dc=io

And my client certificate has this CN as the principal
uid=derek63,ou=users,dc=lightblue,dc=io

Then DO NOT look for the l (locatio

[2017-02-06 09:21] JankiGadhiya opened #283 "crud/update operation does not support $pull"
crud/update operation does not support [**$pull**](https://docs.mongodb.com/manual/reference/operator/update/pull/). That is supported by mongodb for deleting any single-multiple array element.

[2017-02-06 14:15] bserdar commented on #283
Use $foreach with $remove.

https://github.com/lightblue-platform/lightblue-docs-specs/blob/master/language_specification/update.md

[2017-02-06 14:15] #283 closed

[2017-02-06 18:09] Abhikos commented on #253
Good idea, Also if we can check what access permission a client certificate is granted by hitting an end point?

[2017-02-06 19:38] Abhikos commented on #178
@jewzaam: Just wanted to understand it more, according to this flow [https://raw.githubusercontent.com/wiki/Netflix/Hystrix/images/hystrix-command-flow-chart.png](url).
Is implementing fallback to provide a generic response would help here?

[2017-02-06 19:42] jewzaam commented on #178
We have since stopped using hystrix in this project.

[2017-02-06 19:42] #178 closed

[2017-02-06 20:09] Abhikos commented on #178
@jewzaam: what were the reasons for removing hystrix from this project?

[2017-02-07 17:10] jewzaam commented on #178
We were working around the limits hystrix setup and not leveraging fallbacks.  Basically, we found it on application to result in restrictions we didn't want and provided no benefits that were being leveraged.  The last thing we kept it around for was metrics extracted to graphite, but found those to be not useful too.

[2017-02-08 17:52] Abhikos commented on #178
@jewzaam thanks for the explanation, Is there any plans to remove metrics as well?

[2017-02-09 16:56] jewzaam commented on #178
With removing hystrix we no longer have the metrics provided by hystrix being sent to graphite.  We have other metrics published via collectd/statsd on the host systems.  At this time we don't have any application specific metrics being collected that I'm aware of.

[2017-04-06 15:20] paterczm opened #285 "When request times out, not all indexes may be created"
This issue may belong to lightblue-mongo. I decided to put it here since it has to do with http timeouts.

Recently, I was pushing 2 new indexes on a large collection, which resulted in the metadata update request to timeout. Each time I did the push only the first index was created. I had to repeat the metadata update request to create the other one.

[2017-04-06 15:26] paterczm commented on #285
It's easy to miss the fact that one of the indexes wasn't created, since metadata is updated with both indexes. The only indication that something may be amiss is lack of successful response from metadata svc (since it times out).

[2017-04-06 15:32] bserdar commented on #285
We can move the index creation into its own thread, and return immediately.

On Thu, Apr 6, 2017 at 9:26 AM, Marek <notifications@github.com> wrote:

[2017-04-06 16:00] paterczm commented on #285
Yes, for indexes with background: true that makes sense.

[2017-06-30 08:49] derek63 commented on #253
+1 to endpoint with roles

[2017-07-03 22:25] alechenninger opened #290 "CachedRolesProvider can be simplified"
@mpatercz I think you may have written this, I have a small suggestion. I think you can replace the whole RolesCache class with a single instance of a Guava cache. The concept of a "fallback cache" is already implemented using refreshes: https://github.com/google/guava/wiki/CachesExplained#refresh

So instead of evicting entries after a fixed amount of time after a write, use refresh after that fi

[2017-07-04 17:10] paterczm commented on #290
Nice! Didn't know that. Next time.

[2017-08-02 19:50] alechenninger opened #298 "Status field no longer present on error responses"
For ex

[code]

[2017-08-04 13:57] alechenninger commented on #298
Fixed in https://github.com/lightblue-platform/lightblue-core/pull/807

[2017-08-04 13:57] #298 closed

[2017-08-28 12:56] dcrissman opened #302 "Consider exposing lightblue via GraphQL"
http://graphql.org/

[2017-11-17 19:02] alechenninger opened #308 "Streaming responses return invalid JSON"
The response contains multiple JSON objects, but they are not wrapped in an array

[2017-11-17 20:03] bserdar commented on #308
That's how it was designed. If they were in an array, there was no way to
parse it without reading it all. If there is an incremental parser that can
parse it without reading everything first, we can change that.

On Fri, Nov 17, 2017 at 12:02 PM, Alec Henninger <notifications@github.com>
wrote:

[2017-11-18 18:53] alechenninger commented on #308
Jackson has a streaming parser, which you can parse JSON token-by-token (or in this case, parse the array start then each object separately). Do you know if we tried this? If it doesn't work I'd be curious to learn why.

[2017-11-22 09:45] derek63 opened #309 "Switch to using esbtools/jboss-cert-ldap-login-module"
Earlier this year, we duplicated the code for the JBoss login module part of this project (lightblue-rest-auth) out into its own repo at https://github.com/esbtools/jboss-cert-ldap-login-module.

Since this is not really lightblue-specific logic, we should consider switching to use that and remove lightblue-rest-auth module from this project.

Currently the esbtools/jboss-cert-ldap-login-module is